.faq-page .blog-banner {
  align-items: center;
}

.faq-listing-section {
  background: var(--color-dark);
  padding: 60px ;
}

.faq-listing-section .container-fluid {
  max-width: 1750px;
}

.faq-listing-section .section-head {
  max-width: 1480px;
}

.faq-tabs ul {
  border-bottom: none !important;
}

.faq-tabs ul li.nav-item button {
  padding: 0 0 18px;
  font-size: 1.8em;
  position: relative;
  color: #fff;
  font-family: "Kameron", serif;
  font-weight: 700;
  border: none !important;
}

.faq-tabs ul li.nav-item button:after {
  content: "";
  border-radius: 3px;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 5px;
  width: 0;
  background-color: #e9d8b4;
  transition: all ease-in-out 250ms;
}

.faq-tabs ul li.nav-item button.active:after {
  width: 100%;
}

.faq-tabs ul li.nav-item {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-right: 40px;
  background-color: transparent;
  border: none !important;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border: none !important;
}

.faq-tabs .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: transparent;
  border: none !important;
  color: var(--color-white);
}

.tab-content {
  padding: 40px 0 0;
}

.faq-contentbox {
  background: #f5f5f5;
  border-radius: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
  margin-bottom: 30px;
}

.faq-contentbox h3 {
  font-size: 26px;
  font-family: "Kameron", serif;
  font-weight: 700;
  color: var(--color-dark);
}

.faq-contentbox p {
  font-size: 16px;
  color: var(--color-dark);
}

.faq-page section.marketing_footer-seaction {
  background: var(--color-dark);
}

@media screen and (max-width: 1400px) {
  .faq-tabs ul li.nav-item button {
    font-size: 1.2em;
  }
  .faq-contentbox h3 {
    font-size: 22px;
  }
  
}
@media screen and (min-width: 1400px) {
  .tab-content .cus-container {
    max-width: 1550px;
  }
  
  
}

@media screen and (max-width: 991px) {
  .faq-tabs ul li.nav-item {
    padding: 0 10px;
  }

  .faq-tabs ul li.nav-item button {
    font-size: 1.1em;
  }

  .faq-tabs ul {
    justify-content: center;
  }

  .faq-listing-section {
    padding-bottom: 10px;
  }

  .faq-listing-section .section-head {
    text-align: center;
    padding-bottom: 20px;
  }
  .faq-contentbox p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .faq-listing-section {
    padding: 60px 0;
  }
  .faq-contentbox h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .faq-contentbox h3 {
    font-size: 18px;
  }
}
